@import './custom/variables';

$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

$container-max-widths: (
  sm: $sm,
  md: $cmw-md,
  lg: $cmw-lg,
  xl: $cmw-xl,
  xxl: $cmw-xxl,
);

$primary: $f-black;
$danger: $f-primary;
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$btn-close-width: 12px;
$btn-close-height: 12px;

@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100dvh;
}

#root {
  min-height: 100dvh;
}

.footer {
  user-select: none;
  -webkit-user-select: none;
  // height: $footer-height;
}

.scroll-margin-top {
  scroll-margin-top: 94px;

  @include media-breakpoint-up(md) {
    scroll-margin-top: 115px;
    scroll-snap-margin-top: 115px;
  }

  @include media-breakpoint-up(xl) {
    scroll-margin-top: 140px;
    scroll-snap-margin-top: 140px;
  }
}

.btn {
  &.btn-primary {
    border-radius: $btn-border-radius;
    border: $btn-border-width;
    color: $white;
    font-size: $font-size-18;
    background-color: $f-black;
    padding: $btn-padding-y $btn-padding-x;

    @media (pointer: fine) {
      &:hover {
        background-color: $f-primary;
      }
    }

    &:focus {
      background-color: $f-cool-gray;
    }

    &:disabled {
      background-color: $f-cool-gray-200;
    }

    &.active {
      background-color: $f-primary;
    }
  }

  &.btn-sm {
    font-size: $btn-font-size-sm;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
  }

  &.btn-outline {
    border-radius: $btn-border-radius;
    border: $btn-border-width solid $f-black;
    color: $f-black;
    background-color: transparent;

    @media (pointer: fine) {
      &:hover {
        border: $btn-border-width solid $f-primary;
        color: $f-primary;
        background-color: transparent;
      }
    }

    &:focus {
      border: $btn-border-width solid $f-cool-gray;
      color: $f-cool-gray;
      background-color: transparent;
    }

    &:disabled {
      border: $btn-border-width solid $f-cool-gray-200;
      color: $f-cool-gray-200;
      background-color: transparent;
    }
    &.active {
      border: $btn-border-width solid $f-primary;
      color: $f-primary;
      background-color: transparent;
    }
  }
}

//typography

.heading-1 {
  font-size: $font-size-30;
  line-height: $line-height-120;
  font-weight: $font-weight-500;

  @include media-breakpoint-only(md) {
    font-size: $font-size-34;
    line-height: $line-height-115;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-40;
    line-height: $line-height-110;
  }
}

.heading-2 {
  font-size: $font-size-24;
  line-height: $line-height-140;
  font-weight: $font-weight-500;

  @include media-breakpoint-only(md) {
    font-size: $font-size-28;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-34;
    line-height: $line-height-130;
  }
}

.heading-3 {
  font-size: $font-size-22;
  line-height: $line-height-130;
  font-weight: $font-weight-500;

  @include media-breakpoint-only(md) {
    font-size: $font-size-24;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-28;
  }
}

.heading-4 {
  font-size: $font-size-20;
  line-height: $line-height-130;
  font-weight: $font-weight-500;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-22;
  }
}

.heading-5 {
  font-size: $font-size-18;
  line-height: $line-height-130;
  font-weight: $font-weight-500;

  @include media-breakpoint-only(md) {
    font-size: $font-size-18;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-18;
  }
}

.heading-6 {
  font-size: $font-size-16;
  line-height: $line-height-130;
  font-weight: $font-weight-500;

  @include media-breakpoint-only(md) {
    font-size: $font-size-16;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-16;
  }
}

.paragraph-1 {
  font-size: $font-size-20;
  line-height: $line-height-150;
  font-weight: $font-weight-450;
}

.paragraph-2 {
  font-size: $font-size-18;
  line-height: $line-height-150;
  font-weight: $font-weight-450;
}

.paragraph-3 {
  font-size: $font-size-16;
  line-height: $line-height-150;
  font-weight: $font-weight-450;
}

.paragraph-4 {
  font-size: $font-size-14;
  line-height: $line-height-150;
  font-weight: $font-weight-450;
}

.paragraph-5 {
  font-size: $font-size-12;
  line-height: $line-height-150;
  font-weight: $font-weight-450;
}

.bold {
  font-weight: $font-weight-700;
}

.cursor-pointer {
  cursor: pointer;
}

//logo

.logo {
  height: auto;
  width: 79px;

  @include media-breakpoint-up(md) {
    height: auto;
    width: 108px;
  }

  @include media-breakpoint-up(xl) {
    height: auto;
    width: 120px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 94px;
  z-index: 100;

  @include media-breakpoint-up(md) {
    height: 115px;
  }

  @include media-breakpoint-up(xl) {
    height: 140px;
  }
}

.nav-container {
  @extend .container-fluid;
  padding: 0 24px;
  max-width: $xxl;

  @include media-breakpoint-only(md) {
    padding: 0 51px;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 65px;
  }

  @include media-breakpoint-up(xxl) {
    padding: 0 135px;
  }
}

.offcanvas.offcanvas-end {
  border: none;
  width: 344px;

  @include media-breakpoint-up(md) {
    width: 420px;
  }
}

.offcanvas-backdrop.show {
  opacity: 1;
  background-color: rgba(83, 86, 90, 0.8);
  backdrop-filter: blur(8px);
}

.offcanvas-header {
  height: 80px;
  padding: 25px 24px;
}

.offcanvas-logo {
  height: 30px;
}

.offcanvas-body {
  background-color: $f-cool-gray-300;

  @include media-breakpoint-up(lg) {
    background-color: $white;
  }
}

.offcanvas-border {
  border-bottom: 0.1rem solid rgba(83, 86, 90, 0.25);
}

.container-md {
  padding: 0 12px;

  @include media-breakpoint-down(md) {
    padding: 0 24px;
  }
  @include media-breakpoint-only(md) {
    padding: 0 51px;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 65px;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 135px;
  }
}

//alert

.alert-header {
  z-index: 99;
  max-width: $cmw-xxl;
  margin: 0 auto;
}

.top-115 {
  top: 94px;

  @include media-breakpoint-up(md) {
    top: 115px;
  }

  @include media-breakpoint-up(xl) {
    top: 140px;
  }
}

//button link

.btn-link {
  color: $f-black;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: $f-primary;
  }

  @media (hover: none) {
    &:hover {
      color: $f-black;
    }
  }
}

//header buttons

.header-btn {
  @extend .paragraph-4;
  @extend .btn-link;
  text-decoration: none;

  .header-btn-icon {
    height: 24px;
    width: 24px;
  }
  .header-btn-label {
    transition: all 0.25s ease;
  }

  &:hover .header-btn-label {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: $f-primary;
  }

  @media (hover: none) {
    &:hover .header-btn-label,
    .header-btn-icon {
      text-decoration: none;
      color: $f-black;
    }
  }
}

.form {
  max-width: 600px;
}

.form-control,
.form-select {
  border-radius: 0;
  padding-left: 8px;

  &[type='text'] {
    border: none;
    border-bottom: thin solid rgba(83, 86, 90, 0.25);
  }
}

.form-label {
  font-size: $font-size-12;
}

.modal {
  backdrop-filter: blur(8px);
}

.modal-content {
  border: 0;
  border-radius: 0;
  height: 400px;
  max-width: 600px;
}

.modal-body,
.modal-footer {
  background-color: $f-cool-gray-300;
}
